body {
    font-family: sans-serif;
    background-image: url('/assets/nature.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: rgb(213, 247, 208);
}

label {
    display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

form div {
    margin: 1em;
    display: inline-block;
}

.star {
    box-shadow: 0vw 0vw .8vw .25vw rgb(233, 230, 75);
    width: auto;
    height: 1.6vh;
    border-radius: .3vw;
    margin: .1vw;
}

.numReviews {
    font-size: 10pt;
    margin-bottom: 2vw;
}

.starFlex {
    margin-top: .2vw;
    margin-bottom: .2vw;
    display: flex;
    justify-content: center;
    height: 2vh;
}

.cardBrand {
    margin-top: .15vw;
    margin-bottom: 1.5vh;
    font-size: 10pt;
    text-decoration: underline;
}

#cartImg {
    width: 1vh;
    /* height: auto; */
}

.cartItem {
    color: black;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#currentTotal {
    font-size: 20pt;
    margin-bottom: 1vw;
}

#thanksContainer {
    margin-left: 2vw;
    color: rgb(213, 247, 208);
}

.cartDetails {
    margin: 2vw 0 0 2vw;
    width: 40vw;
    display: flex;
    flex-direction: row;
}

#emptyCartMsg {
    font-size: 18pt;
    margin-bottom: 2vw;
}

.cartThumbnail {
    width: 12vh;
    height: 7vw;
    /* height: auto; */
    border-radius: .6vw;
    /* height: 20vh; */
    box-shadow: 0vw 0vw .8vw .00007vw rgba(32, 32, 32, 0.547);
    margin-bottom: .4vw;
    transition: all .15s
}

.container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    /* height: auto; */
}

#searchIcon {
    width: 1.6vw;
    height: auto;
}


/* #searchBtn{
    height:3vh;
padding-top:.2vh;
padding-bottom: 1vh;
padding-right: .3vh;
padding-left: .2px;
    width:2.5vw;
    margin-top: .2vw;
    border-radius: .0 .2vw .2vw 0vw;

} */

#clearSearchBtn {
    width: 7vw;
    margin-left: 1vw;
    margin-top: none;
    margin-bottom: .5vh;
}

#searchInput {
    border: none;
    box-shadow: none;
    border-right: none;
    width: 7.5vw;
    height: 2.5vh;
    border-radius: .3vw;
    margin-left: .5vw;
    margin-right: .4vw;
    background-color: rgba(146, 216, 216, 0.953);
}

#searchInput::placeholder {
    color: black;
}

.filterHeaderFlex {
    width: 7vw;
    justify-content: space-between;
    margin: 1vw;
    display: flex;
    align-items: center;
    background-color: rgba(175, 238, 238, .8);
    height: 3vh;
    color: rgba(27, 57, 97, 0.8);
    border-radius: .4vw;
    padding: .1vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: .4vw;
    padding-top: .36vw;
    margin-top: 1.3vh;
}

.fa {
    margin-left: .8vw;
    width: 1vw;
    height: auto;
}

.filterStarLogo {
    margin: 0.07vw;
    width: 1vw;
    height: auto;
}

.filterLabelDDFlex {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-bottom: .9vw;
}

.filterHeader {
    margin-bottom: 1.4vw;
    font-size: 12pt;
    padding: .1vw;
    width: 8vw;
}

#searchBarForm {
    align-items: center;
    display: flex;
    width: 5vw;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 4px 0px 0px 4px;
}

.filterLabel {
    font-size: 10pt;
    margin: 0px;
}

#filterSearch {
    width: 8vw;
    flex-direction: row;
    display: flex;
    margin-bottom: .6vh;
}

#filterBar {
    margin-right: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(62, 158, 248, 0.7);
    width: 10vw;
    height: 60vh;
    transition: all .15s;
    box-shadow: 0vw 0vw 1vw .00005vw rgba(71, 69, 69, 0.726);
}

#filterBar:hover {
    background-color: rgba(62, 158, 248, 0.9);
}

.filterBarSelectDropdown {
    width: 5.7vw;
    margin-right: 1vw;
}

.allItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardContents {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center;
}

.cardPrice {
    display: flex;
    margin-right: 1.5vw;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0vw 0vw .05vw .00005vw rgba(32, 32, 32, 0.547);
    border-radius: 1vh;
    width: 5vw;
    padding: .2vw;
}

.cardBtn {
    cursor: pointer;
    height: 3.6vh;
    border-radius: 1vh;
    background-color: rgba(149, 56, 243, 0.623);
    border: none;
    color: white;
    font-weight: 300;
    transition: all .1s;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.cardBtn:hover {
    box-shadow: 0vw 0vw .2vw .0001vw rgba(32, 32, 32, 0.547);
    transform: scale(1.06, 1.06);
    background-color: rgba(130, 27, 233, 0.9);
}

.cardName {
    font-weight: 200;
    border-radius: .3vh;
    font-size: 12pt;
    padding: .3vw;
    margin-bottom: 20vh;
}

.cardName a {
    color: black
}

.cardPriceBtnDiv {
    display: flex;
    align-items: center;
    margin: .5vw;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 16vw;
    height: 24vw;
    align-items: center;
    /*max-width: 200px;*/
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 252, 239, 0.699);
    padding: .9vw;
    padding-top: 1.3vw;
    transition: all .13s;
    border-radius: .6vw;
    box-shadow: 0vw 0vw .4vw .0001vw rgb(160, 158, 158);
}

.card.brand {
    padding: 3vw;
    height: 28vh;
    width: 15vw;
}

.card.frontPageCard {
    padding: 2vw;
    height: 17vw;
    width: 14vw;
}

.card.category {
    padding: 2vw;
    height: 17vw;
    width: 14vw;
}

.card.category a {
    font-size: 14pt;
    font-weight: 300;
}

.card.frontPageCard a {
    font-size: 1.3rem;
    font-weight: 300;
}

.card.frontPageCard img {
    width: 100%;
    max-height: 20vh;
    /* height: auto; */
    border-radius: .6vw;
    /* height: 20vh; */
    box-shadow: 0vw 0vw .8vw .00007vw rgba(32, 32, 32, 0.547);
    margin-bottom: .4vw;
    transition: all .15s
}

.card.cause {
    padding: 2vw;
    height: 17vw;
    width: 14vw;
}

.card:hover {
    background-color: rgba(255, 252, 239, 0.9);
    box-shadow: 0vw 0vw .6vw .01vw rgb(90, 89, 89);
}

.cardImg {
    width: 80%;
    max-height: 25vh;
    /* height: auto; */
    border-radius: .6vw;
    /* height: 20vh; */
    box-shadow: 0vw 0vw .8vw .00007vw rgba(32, 32, 32, 0.547);
    margin-bottom: .4vw;
    transition: all .15s
}

.cardImg:hover {
    box-shadow: 0vw .2vw .7vw .001vw rgba(32, 32, 32, 0.547);
    transform: scale(1.6, 1.6)
}

.FilterBar {
    flex-direction: column;
    height: 100%;
    width: 180px;
    border-width: thin;
    border-radius: 4px;
    margin-right: 1.4vw;
    margin-left: .3vw;
    padding: .3vw;
    background-color: rgba(255, 255, 255, .6)
}

.row {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

#profileLink {
    margin-right: 1vw;
}

.HomePage {
    background-color: rgb(140, 191, 132);
}

#logout {
    margin-right: 1vw;
}

.doubleNavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(213, 247, 208);
    /* border-bottom: 2px solid rgb(140, 191, 132); */
    height: 85px;
    /* flex-direction: row; */
}

#topDeal {
    margin-left: 20px;
    flex: 1;
}

.topNavbar {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgb(140, 191, 132);
    height: 15px;
}

.topNavbar a {
    transition: all .2s;
    padding: 1.2vh;
}

.topNavbar a:hover {
    background-color: rgba(130, 27, 233, 0.336)
}

#mainSearchForm {
    margin-bottom: .8vw;
}

#mainSearchInput {
    margin-right: .4vw;
    width: 14vw;
    height: 2.5vh;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(60, 58, 58);
}

#mainSearchInput:focus {
    outline: 0
}

#mainSearchIcon {
    height: 3vh;
    margin-right: 3vw;
}

#checkout-title {
    color: rgb(213, 247, 208);
    margin-left: 1vw;
}

.bottomNavbar {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
    border-bottom: 1px solid rgb(140, 191, 132);
    box-shadow: 0vw 0vw 1vw .08vw white;
}

.bottomNavbar a {
    color: rgb(18, 108, 119);
}

#snootyCaption {
    color: rgb(213, 247, 208);
    margin-top: 25px;
    margin-right: 3vw;
}

.titlebar {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    /* flex-direction: row; */
}

#title {
    /* color: rgb(140, 191, 132); */
    font-weight: 800;
    color: rgb(18, 108, 119);
    font-size: 32px;
    margin-right: 10px;
    margin-left: 1vw;
    justify-content: flex-start;
    align-items: flex-start;
}

#subtitle {
    color: grey;
    font-weight: 800;
    /* flex: 1; */
    font-size: 14px;
    margin-left: 10px;
}

.dropdown {
    display: flex;
    flex-direction: row;
}

.dropdwnImg {
    width: 3vw;
    height: auto;
    border-radius: 1vh;
    box-shadow: 0vw 0vw .8vw .003vw rgba(32, 32, 32, 0.547);
    margin-right: 1vw;
}

.menu {
    margin-top: -8px;
    color: black;
    font-size: 18px;
    /* align-items: center; */
    /* justify-content: center; */
}

.menu>li {
    display: inline;
    margin-right: 15px;
    color: black;
}

.menu>li:last-of-type {
    margin-right: 0;
}

.mainNavLink {
    border: none;
    transition: all .13s;
    font-size: 14pt;
}

.mainNavLink:hover {
    background-color: rgba(95, 161, 247, 0.932)
}

nav a {
    display: inline-block;
    margin: .9em;
}

.features-menu,
.features-menu2,
.features-menu3 {
    flex-direction: column;
    border-radius: 5px;
    padding-top: 15px;
    position: absolute;
    z-index: 1;
    display: none;
    margin-left: -70px;
}

.dropdown2:hover .features-menu,
.dropdown3:hover .features-menu2,
.dropdown4:hover .features-menu3 {
    /* This used to be `.features-menu` */
    width: 14vw;
    display: inline;
    /* Leave everything else alone */
    flex-direction: column;
    background-color: rgba(23, 134, 225, 0.871);
    margin-top: 3.1vh;
    ;
    color: black;
    /* padding-top: -20px; */
    /* ... */
}

.features-menu:hover,
.features-menu2:hover,
.features-menu3:hover {
    /* This used to be `.features-menu` */
    display: flex;
    /* Leave everything else alone */
    flex-direction: column;
    background-color: rgba(23, 134, 225, 0.871);
    margin-top: -100px;
    /* z-index: 2; */
    /* ... */
}


/* .navDropLabel {
    font-size: 11pt;
    transition: all 13s;
    display: flex;
    align-items: center;
    height:8.5vh;

} */

.navDropLabel {
    font-size: 11pt;
    transition: all .13s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}

.navDropLabel:hover {
    background-color: rgb(81, 47, 213);
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-radius: .5vw;
}

.features-menu li:last-of-type {
    border-bottom: none;
}

.dropdown,
.dropdown2,
.dropdown3,
.dropdown4 {
    position: relative;
    font-weight: 200;
}

.dropdown2>span,
.dropdown3>span,
.dropdown4>span {
    position: relative;
    transition: all .5s;
    /* This is important! */
    /* cursor: pointer; */
}

.page {
    border-radius: 1vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 0px 1.4vw .2vw white;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(140, 191, 132);
    margin: 30px;
    padding: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: rgba(255, 255, 255, 0.4);
    /* border-bottom: 2px solid rgb(140, 191, 132); */
    height: 45px;
    flex-direction: row;
}

#reccommendationHeader {
    font-size: 14pt;
}

.footerLinks {
    flex: 1;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profileTitle {
    flex: 1;
    width: 100%;
}

.editProfile {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    margin-right: 10vw;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderCard {
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-height: auto;
    align-items: left;
    /*max-width: 200px;*/
    border-radius: 3px;
    margin: 20px;
    background-color: rgba(255, 252, 239, 0.699);
    padding: .1vw;
    /* padding-top: 1.3vw; */
    transition: all .13s;
    border-radius: .6vw;
    box-shadow: 0vw 0vw .4vw .0001vw rgb(160, 158, 158);
}

@media (min-width: 640px) {
    body {
        font-size: .7rem;
    }
}

@media (min-width:960px) {
    body {
        font-size: .5rem;
    }
}

@media (max-width:700px) {
    .card {
        width: 100vw;
    }
}

@media (max-width:1100px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width:1100px) {
    body {
        font-size: 1rem;
    }
}