body {
    font-family: sans-serif;
    background-image: url('/assets/nature.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(213, 247, 208);
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}
.cardBrand{
    margin-bottom: 2vh;
    font-size: 10pt;
    text-decoration: underline;
}
#cartImg{
    width:6vh;
    height:auto;
}
#thanksContainer{
    margin-left: 2vw;
    color:rgb(213, 247, 208);
}
.quantDiv{
    margin-left: 2vw;
}

.cartThumbnail {
    width: 7vh;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.filterContainer {
    display: flex;
    flex: 1;
    background-color: cadetblue;
    height: auto;
}

.itemsContainer {
    display: flex;
    flex: 6;
    height: auto;
    flex-direction: column;
}

.allItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardContents{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center;
}
.cardPrice{
    display: flex;
    margin-right: 1.5vw;
    background-color: rgba(255,255,255,.5);
    border-radius: 1vh;
    width:4vw;
    padding:.2vw;
}
.cardBtn{
    cursor: pointer;
    height:3vh;
    border-radius: 1vh;
    background-color: rgba(102, 51, 153,0.8);
    color:white;
    font-weight:300;
}
.cardName{
    font-weight: 200;
    border-radius: .3vh;
    font-size: 12pt;
    padding:.3vw;
    margin-bottom: 20vh;

}
.cardName a {
    color:black
}
.cardPriceBtnDiv{
    display:flex;
    align-items:center;

}
.card {

    display:flex;
    flex-direction: column;
    width:12vw;
    height:35vh;
    align-items:center;
    /*max-width: 200px;*/
    border-radius: 3px;
margin: 10px;
    background-color:rgba(248, 245, 221, 0.5);
    padding:.9vw;
transition:all .2s;
    border-radius: .6vw;

}
.card:hover{
    background-color:rgba(248, 245, 221, 0.7);

}
.cardImg{
    max-height:19vh;
    overflow: hidden;
    width:11vw;
    border-radius:1vw;
    height:auto;
    border:1px solid green;
}


.FilterBar {

    flex-direction: column;
    height: 100%;
    width: 180px;
    border-width: thin;
    border-radius: 4px;
    margin-right:1.4vw;
    margin-left:.3vw;
    padding:.3vw;
    background-color:rgba(255,255,255,.6)
}

.row {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}
#profileLink{
    margin-right: 1vw;
}
.HomePage {
    background-color: rgb(140, 191, 132);
}

#logout {
    margin-right: 1vw;
}

.doubleNavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(213, 247, 208);
    /* border-bottom: 2px solid rgb(140, 191, 132); */
    height: 85px;
    /* flex-direction: row; */
}

#topDeal {
    margin-right: auto
}

.topNavbar {
}

#checkout-title{
    color: rgb(213, 247, 208);
    margin-left: 1vw;
}
.navbar2 {
}
.navbarsearch {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(140, 191, 132);
    height: 15px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* flex-direction: row; */
}

.bottomNavbar {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.2);
    height: 60px;
}

#snootyCaption {
    color: rgb(213, 247, 208);
    margin-right: auto
}

.navbar {
    /* margin-top: 1vh; */
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.2);
    /* flex-wrap: wrap; */
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    /* border-bottom: 2px solid rgb(140, 191, 132); */
    /* height: 20px; */
    /* flex-direction: row; */
}

#title {
    /* color: rgb(140, 191, 132); */
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
    color: rgb(213, 247, 208);
    font-size: 34pt;
    margin-right: auto;
    width: auto;
}

#subtitle {
    color: grey;
    font-weight: 800;
    /* flex: 1; */
    font-size: 14px;
    margin-left: 10px;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}


/* .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgb(140, 191, 132);
} */

.titlebar {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    height: 55px;
    /* flex-direction: row; */
}

.menu {
    margin-top: 15px;
}

.menu>li {
    display: inline;
    margin-right: 50px;
}

.menu>li:last-of-type {
    margin-right: 0;
}

.features-menu,
.features-menu2 {
    flex-direction: column;
    border-radius: 5px;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
    display: none;
}

.dropdown2:hover .features-menu,
.dropdown3:hover .features-menu2 {
    /* This used to be `.features-menu` */
    display: flex;
    /* Leave everything else alone */
    flex-direction: column;
    background-color: rgba(16, 119, 23, 0.671);
    margin-top: -15px;
    /* padding-top: -20px; */
    /* ... */
}

.features-menu:hover,
.features-menu2:hover {
    /* This used to be `.features-menu` */
    display: flex;
    /* Leave everything else alone */
    flex-direction: column;
    background-color: rgba(16, 119, 23, 0.671);
    /* margin-top: -100px; */
    /* padding-top: -100px; */
    z-index: 1;
    /* ... */
}

.features-menu li:last-of-type {
    border-bottom: none;
}

.dropdown,
.dropdown2,
.dropdown3,
{
    position: relative;
}

.dropdown2>span,
.dropdown3>span {
    z-index: 1;
    position: relative;
    /* This is important! */
    /* cursor: pointer; */
}

