body {
    font-family: sans-serif;
    background-image: url('/assets/nature.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(213, 247, 208);
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

.cardBrand {
    margin-bottom: 2vh;
    font-size: 10pt;
    text-decoration: underline;
}

#cartImg {
    width: 10vh;
    /* height: auto; */
}

.cartItem {
    color: black;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#thanksContainer {
    margin-left: 2vw;
    color: rgb(213, 247, 208);
}

.cartDetails {
    margin: 2vw 0 0 2vw;
    display: flex;
    flex-direction: row;
}

.cartThumbnail {
    width: 18vh;
    height: 18vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.filterContainer {
    display: flex;
    flex: 1;
    background-color: cadetblue;
    height: auto;
}

.itemsContainer {
    display: flex;
    flex: 6;
    height: auto;
    flex-direction: column;
}

.allItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardContents {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center;
}

.cardPrice {
    display: flex;
    margin-right: 1.5vw;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 1vh;
    width: 4vw;
    padding: .2vw;
}

.cardBtn {
    cursor: pointer;
    height: 7vh;
    border-radius: 1vh;
    background-color: rgba(102, 51, 153, 0.8);
    color: white;
    font-weight: 300;
}

.cardName {
    font-weight: 200;
    border-radius: .3vh;
    font-size: 12pt;
    padding: .3vw;
    margin-bottom: 20vh;
}

.cardName a {
    color: black
}

.cardPriceBtnDiv {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 45vh;
    align-items: center;
    /*max-width: 200px;*/
    border-radius: 3px;
    margin: 10px;
    background-color: rgba(248, 245, 221, 0.5);
    padding: .9vw;
    transition: all .2s;
    border-radius: .6vw;
}

.card:hover {
    background-color: rgba(248, 245, 221, 0.7);
}

.cardImg {
    max-height: 19vh;
    overflow: hidden;
    width: 11vw;
    border-radius: 1vw;
    height: auto;
    border: 1px solid green;
}

.FilterBar {
    flex-direction: column;
    height: 100%;
    width: 180px;
    border-width: thin;
    border-radius: 4px;
    margin-right: 1.4vw;
    margin-left: .3vw;
    padding: .3vw;
    background-color: rgba(255, 255, 255, .6)
}

.row {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

#profileLink {
    margin-right: 1vw;
}

.HomePage {
    background-color: rgb(140, 191, 132);
}

#logout {
    margin-right: 1vw;
}

.doubleNavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(213, 247, 208);
    /* border-bottom: 2px solid rgb(140, 191, 132); */
    height: 85px;
    /* flex-direction: row; */
}

#topDeal {
    margin-left: 20px;
    flex: 1;
}

.topNavbar {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgb(140, 191, 132);
    height: 15px;
}

#checkout-title {
    color: rgb(213, 247, 208);
    margin-left: 1vw;
}

.bottomNavbar {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    height: 60px;
    border-bottom: 1px solid rgb(140, 191, 132);
    color: black;
}

#snootyCaption {
    color: rgb(213, 247, 208);
    margin-top: 25px;
    margin-right: auto;
}

.titlebar {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    /* flex-direction: row; */
}

#title {
    /* color: rgb(140, 191, 132); */
    font-size: 20px;
    font-weight: 800;
    margin-left: 15px;
    color: rgb(213, 247, 208);
    font-size: 30pt;
    margin-right: 10px;
    width: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

#subtitle {
    color: grey;
    font-weight: 800;
    /* flex: 1; */
    font-size: 14px;
    margin-left: 10px;
}

.dropdown {
    display: flex;
    flex-direction: row;
}

.menu {
    margin-top: -4px;
    color: black;
    font-size: 18px;
    /* align-items: center; */
    /* justify-content: center; */
}

.menu>li {
    display: inline;
    margin-right: 15px;
    color: black;
}

.menu>li:last-of-type {
    margin-right: 0;
}

.features-menu,
.features-menu2 {
    flex-direction: column;
    border-radius: 5px;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
    display: none;
}

.dropdown2:hover .features-menu,
.dropdown3:hover .features-menu2 {
    /* This used to be `.features-menu` */
    display: flex;
    /* Leave everything else alone */
    flex-direction: column;
    background-color: rgba(16, 119, 23, 0.671);
    margin-top: -15px;
    color: black;
    /* padding-top: -20px; */
    /* ... */
}

.features-menu:hover,
.features-menu2:hover {
    /* This used to be `.features-menu` */
    display: flex;
    /* Leave everything else alone */
    flex-direction: column;
    background-color: rgba(16, 119, 23, 0.671);
    /* margin-top: -100px; */
    /* padding-top: -100px; */
    z-index: 1;
    /* ... */
}

.features-menu li:last-of-type {
    border-bottom: none;
}

.dropdown,
.dropdown2,
.dropdown3,
{
    position: relative;
    font-weight: 800;
}

.dropdown2>span,
.dropdown3>span {
    z-index: 1;
    position: relative;
    /* This is important! */
    /* cursor: pointer; */
}

.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(140, 191, 132);
    margin: 30px 30px 30px 30px;
    padding: 15px 15px 15px 15px;
}
